/* write your CSS here */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}
.logo {
    background-image: url('images/logo.png');
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
}
.heading {
    margin-left: 16px;
}
.card {
    margin-top: 16px;
    width: 100%;
}
.container {
  display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card-content {
    margin-left: 16px;
}
.book-image > div {
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 280px;
}

.card-body{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.text-info {
    font-weight: 600;
}
/* price setting  */

#price-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price {
    display: flex;
    flex-direction: row;
}
.form-control {
    width: 60px !important;
    border-radius: initial;
    text-align: center;
}
.input-group button {
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.alert {
    justify-content: center;
    display: flex;
    padding-left: 0px;
}

@media screen and (max-width:980px) {
    .navbar {
        display: flex;
    }
}